body {
  font-family: $font-primary;
  color:$font-color;
}

h1 {
  font: $font-primary;
  color: $font-color;
}

h3 {
  color: $font-color;
  font-size: 1.2em;
}

li {
  font-family: $font-block;
}

