body {
  font-family: $font-primary;
  color:$font-color;
  background-color: #f2f2f2;
}

h1 {
  font: $font-primary;
  color: $font-color;
}

h3 {
  color: $font-color;
  font-weight: 100;
  font-size: 1.2em;
}

li {
  font-family: $font-block;
  font-weight : lighter;
}

