$primary: #324661;
$secondary: #219045;
$btn-blue: #324661;
$btn-grey: #c6c6c6;
$font-primary: #424242;
$black: #111;
$white: #eee;
$light-grey: #c6c6c6;
$dark-grey: #424242;
$font-primary: 'Anton', sans-serif;
$font-secondary: 'helvetica';
$border-radius: 2px; 
$transition-primary: 350ms all;
$gutter-lg: 5%;
$gutter-sm: $gutter-lg / 2;
$border-radius: 3px;