.carousel-container {
  max-width: 900px;
  max-height: 300px;
  margin: auto;
  margin-bottom: 1em; 

    .carousel-indicators li{
      opacity: 0;
  }
  
}

@media (max-width: 900px) {
  .carousel-container {
    width: auto;
    height: auto;
  }
}